html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flexed {
    display: flex;
    /*justify-content: space-between;*/
    height: 1000px;
    /*width: 1000px;*/
    flex-wrap: wrap;
    margin-top: 20px;
}
.flexed > * {
    margin-right: 20px; /* Abstand nach rechts */
}

.item-buttons {
        display: flex;
    gap: 10px;
}

.btn {
    height: 40px;
    
}

.card {
    height: 300px;
}

.card-img-top{
        height: 150px;
    object-fit: cover;
}

.searching-bar{
    width: 905px;
}
.category-dropdown {
    width: 200px;
    margin-left: 20px;
}

.search-field{
margin-left: 20px;
}

.category-label {
    margin-top: 8px;
    margin-left: 100px;
    color: inherit; /* übernimmt die Textfarbe der Umgebung */
    text-decoration: none;
}

